section{
    margin-right: 20%;
    margin-left: 20%;
}

body {
  background-image: url('../images/loisirs.jpeg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  text-align: left;
}

h1{
    text-align: center;
}

a {
  text-decoration: underline;
  color : white;
}

#extra {
	display : none;
}

#TokyoRevenger {
	display : none;
}

#cacher {
	margin-top : 5px;
	margin-bottom : 7px;
}

#hideBtn {
	display : none;
}

#btn {
	margin-top : 5px;
}

button {
	background : none;
	border : none;
	color : inherit;
	font : inherit;
	padding : 0;
	cursor : pointer;
	text-decoration : underline;
	text-align : right;
}
