section{
    margin-right: 20%;
    margin-left: 20%;
}

body {
  background-image: url('../images/loisirs.jpeg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  text-align: left;
}

h1{
    text-align: center;
}

a {
  text-decoration: underline;
  color : white;
}

#extra {
	display : none;
}

#TokyoRevenger {
	display : none;
}

#cacher {
	margin-top : 5px;
	margin-bottom : 7px;
}

#hideBtn {
	display : none;
}

#btn {
	margin-top : 5px;
}

button {
	background : none;
	border : none;
	color : inherit;
	font : inherit;
	padding : 0;
	cursor : pointer;
	text-decoration : underline;
	text-align : right;
}

img {
    height: 11rem;
	display: block;
	margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img:active { 				/* quand on clique*/
    transform: scale(1.8);
    z-index: 10;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 80%;
  margin: 30px auto;
  justify-items: center;
  align-items: center;  
}

.gallery img {
    height: 9.5rem;
    margin-bottom: 1rem;
}

.gallery figure {
  text-align: center;
}

#photos {
  display: none;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#photos.show {
  display: block;
  opacity: 1;
  transform: scale(1);
}


