body {
    background: radial-gradient(circle, #1e90ff 0%, #000033 100%);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

section{
    margin-right: 20%;
    margin-left: 20%;
}

h1,h2,h3,h4{
    text-align: center;
}

li{
    text-align: left;
}

#Moi p{
    margin: 0.5rem;
  }

#Diplômes dd{
    margin-left: 1.5rem;
    color: darkslateblue;
}

a {
  text-decoration: underline;
  color: black;
}

img {
    height: 9.5rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}

