nav {
  background: #f4f4f4;
  padding: 2px;
}

nav ul {
  list-style: none;           
  display: flex;              
  justify-content: center;    
  gap: 30px;                  
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: crimson;             
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}
