body {
    background: radial-gradient(circle, #1e90ff 0%, #000033 150%);
    margin-left: auto;
    margin-right: auto;
	text-align: left;
}

h1{
    text-align: center;
}

section{
    margin-right: 20%;
    margin-left: 20%;
}


h3{
    text-align: center;
}

#informatique {
	text-align: left;
}

#informatique li{
	margin-bottom: 10px;
}

.autodidacte ul {
    margin: 0;
}

a {
  text-decoration: underline;
  color: black;
}

.autodidacte {
	display: flex;
	align-items:center;
	gap:10px;
}

.accolade {
	font-size: 30px;
	line-height: 1;
	transform: scaleY(1.75) translateY(-3px);
}

.def {
	font-style: italic;
	position: relative;
	top: -5px;
}

/* Partie responsive */
@media screen and (max-width: 768px) {
  section {
    margin: 0 5%;              
  }

  .autodidacte {
    flex-direction: row;        
    align-items: center;         
    justify-content: left;     
    gap: 6px;                    
  }

  .accolade {
	font-size: 30px;
	line-height: 1;
	transform: scaleY(1.75) translateY(-3px);
  }

  .def {
    top: 0;                    
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  body {
    text-align: center;
  }
}
