section{
    margin-right: 20%;
    margin-left: 20%;
}

body {
  background-image: url('../loisirs.jpeg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  text-align: left;
}

h1{
    text-align: center;
}

a {
  text-decoration: underline;
  color : white;
}
