section{
    margin-right: 20%;
    margin-left: 20%;
}

body {
  background-image: url('../etoile.gif');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;              /* ✅ rend tout le texte blanc */
  text-align: center;
}
